---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<b>Robot Learning Seminar 2024, Robotics and Embodied AI Lab (REAL) at Mila - Why Can’t We Use Reinforcement Learning for Image-based Robotic Manipulation?</b><br />
<a href="https://www.youtube.com/live/gkybLhKc3EY?si=-h-akFHJ8fgkth0z">Link</a> 

<br/>

<b>ARIA Showcase 2019 - Average Reward Reinforcement Learning for System Optimization in Robotics Application</b><br />
This project was done at Kindred AI during my MScAC internship. We developed a method to leverage 
model-based RL to optimize for a continual process formulated under the average reward setting.<br />
<img src="/images/eigentermination.png" width="500"/>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
